footer {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 1em 0;
}

#footer-titulo {
    color: #2f2e34;
    transition: color 1.5s linear;
    animation: blink 5s linear 0s infinite  alternate-reverse;
}

@keyframes blink {
    0% {
        color: transparent;
    }


    50% {
        color: white;
    }
    100% {
        color: transparent;
    }
}



footer-titulo .nada {

    color: #0d0d0d;
    color: #aeaeae;
    color: #eaeaea;
    color: #686869;
    color: #626262;
    color: #b7b7b7
}