#home {
    display: flex;
    flex-direction: row;
    padding: 3em;
    align-items: center;
    justify-content: space-evenly;
}

.home-descripcion{
    width: 50%;
    line-height: 2em;
     background: #686869;
     padding: 2em;
     border: 1em inset #aeaeae;
}