nav {
    padding: 1em;
    display: flex;
    position: sticky;
    top: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    animation: adjust-navbar linear both;
    animation-timeline: scroll();
    animation-range:0 100px;
    
    border-bottom: 2px orange solid;
    h2 {
        color: white;
    }
    span{
    color: orange;

    }
}

nav:hover nav{
    opacity: 1;
    background-color: rgba(0, 0, 0, 1);
}

.nav-link {
    display: inline-block;
}

.nav-link a {
    padding: 0.2em 1em;
    text-decoration: none;
    color: gray;
    transition: color 0.5s ease, border 1s ease;
    border: 2px solid transparent;
}

.nav-link a:hover {
    cursor: pointer;
    color: white;
    border-top: 2px solid white;
}

@keyframes adjust-navbar{
    to{
        font-size: 1em;
    z-index: 2;

    }
}