#tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-tecnologias {
    text-align: center;
    width: 70%;

}

.tecnologias-item {
    padding: 1em 0.5em;
    margin: 1em 1em;
    color: black;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-items: center;
    background-color: #eaeaea;
    border-radius: 10px;
    transition: all 0.5s ease;
    border: 2px solid white;

    hr {
        width: 70%;
    }

    img {
        height: 5em;
        width: 6em;
    }

}


h3 {
    font-size: 1.5em;
}
.tecnologias-item:hover {
    border: 2px solid gray;
}





.habilidades-list {
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.habilidades-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    margin: 0 2em;
    height: 10em;
    width: 10em;
    background-color: #bbb;
    border-radius: 50%;
}


.skill-icon {
    position: relative;
    width: 5em;
    height: 5em;
    top: 25%;
}